body {
    background-color: plum;
}
p{
color:#1c5ca4;
}
table, th, td {
    border: 1px solid black;
  }
  h1{
      text-align: center;

  }
  h2{
      font-size: x-small;
  }
  h5{
      font-family: Verdana, Geneva, Tahoma, sans-serif;
      color: sandybrown;
  }